.about-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.about-title {
    padding-top: 60px;
    font-size: 45px;
}

.about-deepstate {
    font-size: 18px;
    margin: 50px;
    font-family: 'IBM Plex Mono', monospace;
}