.listen-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.listen-title {
    font-size: 45px;
    margin-top: -190px;
}

.follow {
    margin-top: 25px;
    font-size: 30px;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.custom-card {
    width: 20vw;
}